#### 16/10/23

list is mutabel means we can change the values in the list.

I learnt operations on lists:

.Append()= it will add value in the last

.clear()=it will clear all the data (but if we want to clear only one value then we have to use "remove" function)

.pop()= It will pop out the value w.r.t index value (0,1,2,3......) but if we will not mention
 the index value then last number will be pop out and that value will be deleted from the list.


.extend([])= It will extend the list means if we want to add multiple values values then we can use it 
and it will add the numbers in the last.

.insert()= values will be add in between (here we have to mention index value as well)

.remove()= it will remove particular value

if we want to remove multiple values then we will use: del <list name> [index values]

.sort()=

In [14]:
#creating a list of numbers
nums=[12,23,3132,432,42,55]

In [66]:
#nums [1] = 24
nums

[900, 24, 432, 42, 55, 67, 89, 900]

In [16]:
nums.append(321)

In [22]:
nums

[12, 23, 3132, 432, 42, 55, 321]

In [24]:
nums.remove(12)

In [25]:
nums

[23, 3132, 432, 42, 55, 321]

In [26]:
nums.pop(0)

23

In [27]:
nums.

[3132, 432, 42, 55, 321]

In [28]:
# it will pop out the last number of the list and will delete it from the list
nums.pop()

321

In [ ]:
nums.extend([67,89])

nums

In [35]:
.insert(0,900)

In [36]:
nums

[900, 3132, 432, 42, 55, 67, 89, 900]

In [ ]:
# inserting a number into a list present in another list
alpha= [22,33,44,55,66]
beta= ['ab', 'bc',alpha]


beta

beta[2].append(99)

beta

beta[2].pop(2),beta[2].pop(3)

In [60]:
beta

['ab', 'bc', [22, 33, 55]]

In [67]:
tup= (12,14,16,18)

In [68]:
tup

(12, 14, 16, 18)

In [69]:
tup[1]

14

In [70]:
tup[1]=15

TypeError: 'tuple' object does not support item assignment

In [13]:
nums=[25,36,95,14,12,26]

In [14]:
nums

[25, 36, 95, 14, 12, 26]

In [17]:
sorted (nums)

[12, 14, 25, 26, 36, 95]

In [12]:
nums

[12, 14, 25, 26, 36, 95]

In [74]:
nums

[25, 36, 14, 12, 26]

### create a list comprehension that squares each element in a list.

In [1]:
nums=[2,4,5,6,7,8]
[i*i for i in nums]

[4, 16, 25, 36, 49, 64]

In [125]:
# Tuple: it is immutable means we cannot modify it
# open bracket has to be use ()
num = (3,4,5,5)
num

(3, 4, 5, 5)

In [58]:
num.count(3)

1

In [127]:
# set : set is collection of unique elements. It will remove duplicate values and it doesn't support sequence.
# curly brackets has to be use {} and set is mutable.
num={3,4,5,5,5,5,'fsdf'}
num

{3, 4, 5, 'fsdf'}

In [131]:
int= {34,56,78,11,1}
int

{1, 11, 34, 56, 78}

In [66]:
num.pop()

'fsdf'

In [190]:
names=['dinesh','riya','tiya','siya']
age=[20,21,22,23]

In [191]:
names[0]

'dinesh'

In [181]:
data

{'dinesh': 20, 'riya': 21, 'tiya': 22, 'siya': 23}

In [192]:
dict1={
  "name": "John Doe",
  "age": 30,
  "city": "New York",
  "email": "johndoe@example.com",
  "is_student": False,
  "hobbies": ["Reading", "Hiking", "Cooking"],
  "address": {
    "street": "123 Main St",
    "zipcode": "10001"
  }
}

In [203]:
dict1.update({'age':29})

In [212]:
dict1

{'name': 'John Doe',
 'age': 29,
 'city': 'New York',
 'email': 'johndoe@example.com',
 'is_student': False,
 'hobbies': ['Reading', 'Hiking', 'Cooking'],
 'address': {'street': '123 Main St', 'zipcode': '12340000000000001'}}

In [207]:
dict1.update({'address':{"street": "123 Main St",'zipcode': '123401'}})

In [211]:
dict1.get('address').update({'zipcode': '12340000000000001'})

In [ ]:
condition can be True or False

In [ ]:
if condition:
    1.
    2.
    3.
    4.
else:
    1.
    2.

In [115]:
if a==5:
    print("if condition worked")
else:
    print("else condition worked")

else condition worked

a = 3
if a>5:
    print("if condition worked")
    print("hello")
elif a<5:
    print("elid worked")
else:
    print("else condition worked")
print("hello")

#### name